[Unit]
Description=Marketcetera ORS server
After=syslog.target network.target

[Service]
Type=forking
EnviromentFile=/etc/marketcetera/ors.conf
ExecStart=/usr/bin/orsctl2 start
ExecStop=/usr/bin/orsctl2 stop
PIDFile=/var/run/marketcetera/ors.pid
User=ors
Group=ors

[Install]
WantedBy=multi-user.target
