[Unit]
Description=Marketcetera ORS server
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/ors2 >/dev/null 2>&1
ExecStop=/bin/kill -TERM $MAINPID
User=ors
Group=ors

[Install]
WantedBy=multi-user.target
